n8n_workflow/General_AI_Agent.json
{
  "name": "General AI Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -280,
        0
      ],
      "id": "411528ce-d19e-4117-b0dc-480e9c5b57db",
      "name": "Telegram Trigger",
      "webhookId": "347c7ad3-e59e-4842-83f6-1bb92f28c504",
      "credentials": {
        "telegramApi": {
          "id": "eIhbmN0OV3MOUCW4",
          "name": "Nino9Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant.\n\nwhen user will query about email . Use \"Gmail\" Tool to get email and make a summary.\n\nwhen user want to create calerder event use \" Google Calender \" Tool to create Event.\n\nwhen user say send email to some person frist search \"Google Sheets\" tool to get email address of that person and then go to \"Gmail1\" tool to send email.\n\nIf user want normal converseation then give them answer\n\ntoday date is {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        180,
        0
      ],
      "id": "980e5d52-e5b8-4910-81f5-e43c7fb39a36",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "ministral-8b-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -100,
        440
      ],
      "id": "1a655273-d0e9-4bf4-a36b-1dbc12575eab",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "GxatXotUGLiIkcVP",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        920,
        0
      ],
      "id": "fc8c015a-668b-4061-8b79-dd7f20439e5f",
      "name": "Telegram",
      "webhookId": "8d7260f6-2677-43b2-a5e8-3235920af63f",
      "credentials": {
        "telegramApi": {
          "id": "eIhbmN0OV3MOUCW4",
          "name": "Nino9Bot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        40,
        460
      ],
      "id": "00b47b84-7710-46ff-84f5-8852c5ed1699",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Get unread emails from my inbox when user wnat to know the summary of their unread email. Consume the Gmail API.",
        "operation": "getAll",
        "limit": 5,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        340,
        380
      ],
      "id": "5cae9d29-bf0d-43fb-9443-d28ecfa457bc",
      "name": "Gmail",
      "webhookId": "7c284afd-ebe1-41d9-a50d-90b1168c0ea7",
      "credentials": {
        "gmailOAuth2": {
          "id": "FeKMsk3oae0vbr8L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Consume Google Calendar API And Use This Tool to Create  Calendar Event",
        "calendar": {
          "__rl": true,
          "value": "sadiasultana4444a@gmail.com",
          "mode": "list",
          "cachedResultName": "sadiasultana4444a@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        220,
        380
      ],
      "id": "689b431b-3b78-4cc2-a28f-f25861b45c8c",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zY5qro7jh6sAlGsS",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search this tool to get a name and corresponding email address for sending mail. Read, update, and write data to Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "1waJmMrF02cuTi-3KWGdbBwIXxptP9Pb3rGza76bNmRE",
          "mode": "list",
          "cachedResultName": "n8n tutorials",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1waJmMrF02cuTi-3KWGdbBwIXxptP9Pb3rGza76bNmRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 983309635,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1waJmMrF02cuTi-3KWGdbBwIXxptP9Pb3rGza76bNmRE/edit#gid=983309635"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        480,
        380
      ],
      "id": "bb029588-2d39-47f1-a3d6-781736ab1a07",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1IUy3Zgz6fuC1VEi",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "send the Gmail to a specific person. Consume the Gmail API",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ $fromAI(\"subject\", \"subject of the mail\") }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        620,
        380
      ],
      "id": "fcb6c444-b83b-48d3-a4fa-3c853071a002",
      "name": "Gmail1",
      "webhookId": "15a2f9f6-7774-4dbe-b858-9058eb98e6ca",
      "credentials": {
        "gmailOAuth2": {
          "id": "pVKTrnVOBwKXvAuh",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a1b1ef2-6ab5-4cd9-96d1-ae10eeda6b15",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa542a9e7967d9ad1ed3b0eae8e66924d3e5696b1b552292b9c29c85593caedc"
  },
  "id": "qB6x28ttH9UjHMmT",
  "tags": []
}