n8n_workflow/Map_scraper.json
{
  "name": "Map_scraper",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1440,
        -520
      ],
      "id": "cb92d425-179b-4e90-a640-057318e775ec",
      "name": "Telegram Trigger",
      "webhookId": "6e18ac57-e9f3-4fbc-a381-743ab7ce47c7",
      "credentials": {
        "telegramApi": {
          "id": "eikHCzSk3wlRA4Sx",
          "name": "Nino11bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a research agent helping users find contact information from Google Maps \"Map Searcher\" or websites. After searching, you should structure the output for a human-readable list.\n\nAfter searching, store the results in Google Sheets in the following JSON format in a single call for that go to \"store_to_google_sheets\" subwork flow and upadates information :\n\n[\n  {\n    \"json\": {\n      \"Address\": \"xxx\",\n      \"Phone\": \"xxx\",\n      \"Website\": \"xxx\",\n      \"Rating\": \"xxx\",\n      \"Opening Hours\": \"xxx\",\n      \"Email\": \"xxx\"\n    }\n  },\n  {\n    \"json\": {\n      \"Address\": \"xxx\",\n      \"Phone\": \"xxx\",\n      \"Website\": \"xxx\",\n      \"Rating\": \"xxx\",\n      \"Opening Hours\": \"xxx\",\n      \"Email\": \"xxx\"\n    }\n  }\n]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1060,
        -520
      ],
      "id": "b6961ca4-686e-4e52-a4e1-f1910e8fc044",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -1300,
        -240
      ],
      "id": "294f94b5-34ee-4da5-9f5e-b11dcb34c45a",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "KglFFECVM0YFwXMu",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1180,
        -220
      ],
      "id": "7e860a6a-4b5c-4f61-8d0b-964c6fecaddc",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "toolDescription": "This bot helps you to scrap all contact information for lead gen from Google Maps. Input query \"q\" for search input, \"ll\" for latlng, and \"page\" for the current page. ",
        "url": "https://google.serper.dev/maps",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q"
            },
            {
              "name": "II"
            },
            {
              "name": "page"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-API-Key",
              "valueProvider": "fieldValue",
              "value": "b86c1886180035959594522f5ca210d7b1feabcf"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1040,
        -220
      ],
      "id": "ca3e15f2-866a-460d-992c-d25fdd911ffc",
      "name": "Map Searcher"
    },
    {
      "parameters": {
        "name": "store_to_google_sheet",
        "description": "This is a tool to parse the input and store to google sheet, columns including:\n\n{\n       \"Name\" \"xxx\"\n       \"Address\": \"xxx\",\n      \"Phone\": \"xxx\",\n      \"Website\": \"xxx\",\n      \"Rating\": \"xxx\",\n      \"Opening Hours\": \"xxx\",\n      \"Email\": \"xxx\"\n}\n",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "Ptg07uKc9dqTvKTn"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -760,
        -220
      ],
      "id": "a37d32d2-45b7-4db9-a02b-8d4deb28d0c5",
      "name": "store_to_google_sheets"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1360,
        -20
      ],
      "id": "a9758450-9cc0-4d27-bd4e-3fe2f7b102c6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.all()[0].json.query);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1160,
        -20
      ],
      "id": "bf4cf8ba-9709-47b1-9a92-0ebac84c3d17",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hHlpQqe9YdbYbPDHJCvfcpJXoGPs_QQAj8YHiByfgxw",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHlpQqe9YdbYbPDHJCvfcpJXoGPs_QQAj8YHiByfgxw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHlpQqe9YdbYbPDHJCvfcpJXoGPs_QQAj8YHiByfgxw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -940,
        -20
      ],
      "id": "c899cc7a-93ae-44b6-bf73-a77ed90dcdb9",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1IUy3Zgz6fuC1VEi",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {json: {response :\"ok\"}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -20
      ],
      "id": "bf425673-e6b9-4b11-b5ac-7b9cadf9830c",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Map Searcher": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "store_to_google_sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f42b00ff-0f1e-4435-aae2-5ef1be7ab390",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa542a9e7967d9ad1ed3b0eae8e66924d3e5696b1b552292b9c29c85593caedc"
  },
  "id": "gzDL2ZTkhD2bwzK6",
  "tags": []
}