n8n_workflow/store_to_google_sheets.json
{
  "name": "store_to_google_sheets",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -340,
        -40
      ],
      "id": "e842f1cf-72b2-44d8-9ab2-72db4fbc6ab6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.all()[0].json.query);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        -40
      ],
      "id": "e460236a-03e6-43c0-8d25-555e29b81ad6",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hHlpQqe9YdbYbPDHJCvfcpJXoGPs_QQAj8YHiByfgxw",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHlpQqe9YdbYbPDHJCvfcpJXoGPs_QQAj8YHiByfgxw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hHlpQqe9YdbYbPDHJCvfcpJXoGPs_QQAj8YHiByfgxw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        80,
        -40
      ],
      "id": "7cff9d6a-026b-4b04-ba33-da71fb43c4b5",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1IUy3Zgz6fuC1VEi",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {json: {response :\"ok\"}}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        -40
      ],
      "id": "a78fe81a-3c72-4baa-b26e-651c1e1d4970",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63802f0f-9f19-474b-a606-a6a2231f0f5c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa542a9e7967d9ad1ed3b0eae8e66924d3e5696b1b552292b9c29c85593caedc"
  },
  "id": "Ptg07uKc9dqTvKTn",
  "tags": []
}